.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-content {
    display: flex;
    flex-direction: row;
    min-height: 600px;
}